# Docs for how this file works: https://help.github.com/en/articles/about-code-owners

# It’s not clear which team at Funding Circle should be responsible for this repo, but I created it,
# so it’s incumbent on me to take responsibility. I’m adding Sasha as well, just as a backup.
* @FundingCircle/engineers

# See https://fundingcircle.github.io/fc4-framework/ and https://github.com/FundingCircle/fc4-framework/
*fc4* @FundingCircle/internal-documentation
